*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #00AAFF, #00FF6C); */
  background-color: #6996D3
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.instruction {
  max-width: 600px;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px;   
  font-size: 20px;
}
.instruction p {
  margin-bottom: 5px;
}

.instruction .list ul ol {
  padding: 3px;
}

.calculator-grid {
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: minmax(120px, auto) repeat(5, 75px);
  gap: 3px;
  
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  transition: all 100ms ease;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}
.span-two-vert {
  grid-row: span 2
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid > .fontsize-two {
  font-size: 4rem;
}